.topnav {
    background-color: #f9f9f9;
    text-align: center;
    border-bottom: 1px solid black;
    font-size: 0;
    display: inline-block;
    width: 100%;
}

.topnav a {
    display: inline-block;
    padding: 20px 20px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 16px;
    text-transform: uppercase;
}

.topnav a:hover {
    background-color: #EBEBEB;
}

.active {
    background-color: #ddd;
}

/* Responsive topnav */
.topnav .navBarIcon {
    display: none;
}

@media screen and (max-width: 820px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.navBarIcon {
        float: right;
        display: block;
    }
    .topnav a:first-child {float: left}
}

@media screen and (max-width: 820px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .navBarIcon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Body */
body {
    font-family: "Roboto", sans-serif;
    margin: 0px auto;
}

@media (max-width: 1210px) {
    .container > div {
        display: block;
        width: 100% !important;
    }
}

#newUserDiv {
    text-align: center;
}

.newEvent {
    width: 400px;
    margin: 20px auto;
    display: block;
}

/* Table */
.datatable {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    word-wrap: break-word;
    margin: auto;
    margin-bottom: 10px;
    max-width: 640px;
    width: 80%;
    table-layout: fixed;
}

.weatherinfo {
    max-width: 440px !important;
    min-width: 360px;
}

th {
    color: #D5DDE5;
    background: #000033;
    font-size: 22px;
    font-weight: 100;
    padding: 10px;
    padding-left: 10px;
    text-align: left;
    text-transform: uppercase;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 4px solid #9ea7af;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
}

tr:nth-child(odd) td {
    background: #EBEBEB;
}

tr:hover td {
    background: #4E5066;
    color: #FFFFFF;
}

tr:first-child {
    border-top: none;
}

tr:last-child {
    border-bottom: 1px solid #4E5066;
}

tr:nth-child(odd):hover td {
    background: #4E5066;
}

td {
    background: #FFFFFF;
    padding: 6px;
    padding-left: 10px;
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: none;
}

.weatherth {
    background: #2D3B56;
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
}